
@using TimerToysTwo.Model

<div class="my-timer">

    <div class="node-wrapper">
        <span>
            <span class="material-icons md-18 @ExpandButtonClass"
                  @onclick="ToggleExpand"
                  title="Show Children">
                 @ToggleIconCode
            </span>
        </span>
        <span class="span-spacer"></span>
        <span class="elapsed-time" title="Show Controls" @onclick="ToggleShowControls">
            [<ElapsedTimeComponent @ref="ETC" ElapsedTime="@MyTimer.ElapsedTime" />]</span>

        <span><input class="node-name-input" @bind="TimerName" onclick="this.select()" /></span>

    </div>


    <div class="controls-container" style="display: @ShowControlsStyle;">

        <table>
            <tr>
                <td colspan="3"><button @onclick="ToggleTimer" disabled="@IsDisabled">@(MyTimer.IsRunning ? "STOP" : "START")</button></td>
            </tr>
            <tr>
                <td><button disabled="@IsDisabled" @onclick="() => AdjustTimer(3600)">HOUR+</button></td>
                <td><button disabled="@IsDisabled" @onclick="() => AdjustTimer(60)">MINUTE+</button></td>
                <td><button disabled="@IsDisabled" @onclick="() => AdjustTimer(1)">SECOND+</button></td>
            </tr>
            <tr>
                <td><button disabled="@IsDisabled" @onclick="() => AdjustTimer(-3600)">HOUR-</button></td>
                <td><button disabled="@IsDisabled" @onclick="() => AdjustTimer(-60)">MINUTE-</button></td>
                <td><button disabled="@IsDisabled" @onclick="() => AdjustTimer(-1)">SECOND-</button></td>
            </tr>
            <tr>
                <td colspan="3"><button @onclick="ResetTimer" disabled="@IsDisabled">RESET</button></td>
            </tr>
        </table>

    </div>

    <div style="margin-left:15px; display: @IsExpandedStyle;">
        @{

            if (MyChildTimers == null)
            {
            }
            else
            {
                foreach (Timer child in MyChildTimers.OrderBy(c => c.CreationTime))
                {
                    <Node @ref="MyChildNodes[child.TimerKey]" MyTimer="@child"></Node>
                }
            }
        }
    </div>

</div>

@code {
}
